body {
    overflow-x: hidden;
    font-family: "Rokkitt", serif;
    font-size: 14px;
}

a {
    transition: 0.5s all;
}

header nav {
    background: transparent !important;
    margin-top: 20px;
}

header nav .collapse ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

header nav .collapse ul a.nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2A2922;
    margin-left: 20px;
}

header nav .collapse ul a.nav-link:hover {
    color: #FF4609 !important;
}

header nav .collapse ul a.active {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FF4609 !important;
}

header nav .collapse ul a.btn-primary {
    font-size: 1.2rem;
    font-weight: bold;
    color: white !important;
    background: #005BFF;
    border-radius: 40px;
    padding: 8px 22px !important;
}


header nav .collapse ul a.btn-primary:hover {
    color: white !important;
    background: #FF4609;
}

img.portada {
    width: 100%;
}


.contenido-inicio-cta {
    margin: 30px 0px;
}

.contenido-inicio-cta .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-inicio-cta h2 span {
    background: #FFACCA;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 5px;
}

.contenido-inicio-cta .botones ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.contenido-inicio-cta .botones ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}

.contenido-inicio-cta .botones ul li a {
    font-size: 1.2rem;
    font-weight: bold;
    color: white !important;
    background: #005BFF;
    border-radius: 40px;
    padding: 8px 22px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.contenido-inicio-cta .botones ul li a:hover {
    color: white !important;
    background: #FF4609;
}



/*Sobre el proyecto*/
.portada-seccion {
    padding: 80px 0px;
    width: 100%;
}

.portada-seccion h1 {
    font-weight: 400;
    font-size: 3.5rem;
}

.portada-seccion h1 span {
    font-weight: bold;
    font-size: 3rem;
}

.contenido-inicio-cta p {
    text-align: left;
    font-weight: bold;
    font-size: 1.3rem;
}


.objetivos {
    padding: 80px 0px;
}

.objetivos h2 span {
    background: #FF4609;
    padding: 5px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.objetivos h2 {
    margin-bottom: 30px;
}

.objetivos h3 {
    color: #005BFF;
    font-weight: bold;
    font-size: 1.5rem;
}

.objetivos p {
    color: #2A2922;
    font-weight: bold;
    font-size: 1.3rem;
}


@media (max-width:768px) {

    .contenido-inicio-cta .botones ul {
        justify-content: center;
    }
    
    .descripcion{
        padding: 20px;
    }

    .objetivos h2 {
        margin-bottom: 20px;
    }

    .contenido-inicio-cta p {
        text-align: center;
    }


    .objetivos p {
        margin-bottom: 40px;
    }
}


footer img {
    width: 100%;
}

footer .creditos {
    text-align: center;
    color: #2A2922;
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
